@charset "UTF-8";
body {
    background-image: linear-gradient(110deg,#00BFFF,#00FFFF);
}

main {
    font-size: auto;
    background-color: crimson;
    width: 900px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    height: 300px;
    box-shadow: 10px 10px 10px #000000;
    }
    

p {
    font-style: italic;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: violet;
    text-shadow: 2px 2px 0px #000000;
    
}

h1 {
    color: #ffffff;
    text-shadow: 1px 1px 0px #000000;
    text-align: center;
}

h2 {
    color: #ffffff;
    text-shadow: 1px 1px 0px #000000;
    text-align: center;
}

a {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: violet;
    text-shadow: 2px 2px 0px #000000;
    
}

img {
    position: relative; 
    top: 30px;
    left: 50px;
}

