@charset "UTF-8";
body {
    background-color: lawngreen;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
main {
    font-size: auto;
    background-color: white;
    width: 700px;
    margin: auto;
    padding:30px;
    border-radius: 50px;
    height: 450px;
    box-shadow: 20px 20px 20px 20px #03ec2a;
}

h2 {
    text-align: center;
}

input {
    display: block;
    margin: 0 auto;
}

button {
    height: 30px;
    color: #ff0000;
    display: block;
    margin: 0 auto;
    width: 15%;
    margin-top: 20px;
}
img {
    width: 300px;
    height: 200px;
    margin: 0 auto;
    display: block;
    margin-top: -240px;
    
}
