@charset "UTF-8";

/* tudo em id e #
    tudo em classe e .
*/    

body {
    background-color: rgba(84, 187, 25, 0.486);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
color: rgb(0, 245, 0);
}

h1#principal {
    color: blue;
    text-align: center;
    background-color: aquamarine;
}

h2#principal2 {
    color: aquamarine;
}

h2 {
color: darkgreen;
}

.teste {
    color: brown;
    background-color: black;
}

.outroteste {
    color: rgb(174, 0, 255);
}