 @charset  "UTF-8";
 
 body {
            background-color: aqua;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 15px;
        }
        h1 {
            color: blue;
            background-color: violet
        }
        h2 {
            color: blueviolet;
            background-color: hotpink;
        }
        p {
            text-align: justify;
        }
        h1 {
            text-decoration: underline;
        }
        h2 {
            text-decoration: overline;
        }