div {
    background-color: rgb(84, 180, 84);
}

h1 {
    color: white;
    text-align: center;
   
}

h3 {
    color: white;
    text-align: center;
    padding: 15px;
}

.menu {
  display: flex;
  gap: 20px;
  font-size: 20px;
  color: white;

}

section {
    background-color: rgb(255, 255, 255);
}

.text {
    font-size: 20px;
}

.h1text {
    display: block;
    top: -50px;
    font-size: 30px;
    color: black;
    background-color: rgb(84, 180, 84);
}

img {
    display: block;
    margin: 0 auto;
}

.android {
    width: 200px;
}

article {
    font-size: 30px;
    color: #000000;
    background-color: rgb(11, 221, 22);
    color: white;
    border-radius: 5px 5px 5px;
    margin: auto;
}

.menuborda {
    background-color: rgba(71, 221, 78, 0.842);
    color: #000000;

}




