@charset "UTF-8";

body {
    background-image: linear-gradient(to right, #A69B8F, #736151) ;
}

main {
    background-color: #ffffff;
    width: 700px;
    padding: 10px;
    margin: auto;
    border-radius: 40px;
    box-shadow: 5px 10px 10px #000000;
}

h1 {
    color: red;
    text-align: center;
    text-shadow: 1px 1px 0px black;
}

h2 {
    color: #0D0D0D;
    text-shadow: 1px 1px 0px;
}

p {
    text-align: justify;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
