body {
    background-color:#000000;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.login {
    background: rgb(255, 255, 255);
    height: 200px;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.login h1 {
    text-align: center;
    margin-top: -50px;
    position: relative;
    left: 220px;
    text-align: center;
    }

input  {
    text-align: center;
    align-items: center;
    border-color: black;
    border-radius: 5px;
}

button {
    border-radius: 10px;
    width: 100px; 
    background: #000000;
    color: white;
    margin-bottom: -70px;
    right: 220px;
    position: relative;
}





