
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(0, 0, 0);
    max-width: 7000px;
    width: 100%;
    padding-bottom: 20px;   
}

header .img1 {
    display: block;
    margin: 0 auto;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    
   
}


header .img2 {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    margin-right: 70px;
    margin-top: -50px;
}

header > h1 {
    text-align: center;
    font-size: 35px;
    padding-top: 20px;
    color: white;
}

header > p {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    color: white;

}

section.normal {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}

section {
    font-size: 30px;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 20px;
    background-color: white;
    line-height: 2em;
}


section#img01 {
    line-height: 1em;
    width: 100%;
    font-size: 100px;
    background-image: url(../fotowpp.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}



section.img {
    background-color: rgba(0, 0, 0, 0.384);
    
}   


section#img02 {
    background-image: url(../foto5.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    font-size: normal;
    padding-top: 20px;

}




section.img > p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    font-size: 30px;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 600px;
    display: inline-block;
    background-color: rgba(184, 181, 181, 0.719);
    line-height: 3.5em;
}

footer {
    width: 100%;
    background-color: #000000;
    padding: 40px;
    color: white;
    font-size: 40px;
    text-align: center;
}

    a {
    font-weight: bolder;
    text-decoration: none;
    color: thistle;
}

