@charset "UTF-8";

/*
#c5ebd6
#83elad
#3ddc84
#2fa866
#1a5c37
#063d22
*/  


@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf');
    font-weight: normal;



}   

h1, h2 {
    padding: 15px 0px 0px 15px;
}

main p {
    margin: 15px 15px 0px 15px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 2em;
}

main strong {
    color: var(--cor-sextaria);
    background-color: var(--cor-secundaria);
    padding: 2px 4px;
    
}

:root {
    --cor-primaria: #2fa866;
    --cor-secundaria: #83e5ad;
    --cor-terciaria:  #3ddc84;
    --cor-quartaria:  #c5ebd6;
    --cor-quintaria:  #1a5c37;
    --cor-sextaria:  #063d22;


    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-android: 'Android, cursive';
}



main img {
    width: 100%;
}


main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor-sextaria);
    background-color: var(--cor-quartaria);
    padding: 2px 4px;

}

main a:hover {
    text-decoration: underline;
    color: #1a5c37;
}

main {
    background-color: white;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
}



body {
   background-color: var(--cor-secundaria);
    font-family: var(--fonte-padrao);
    min-width: 320px;
    max-width: 800px;
    margin: auto;
}

header {
    background-image: linear-gradient(to bottom, var(--cor-primaria), var(--cor-sextaria));
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 30px;
}


header > p {
    color: white;
    font-family: var(--fonte-android);
    font-size: 1.5em;
    max-width: 700px;
    margin: auto;
    text-shadow: 2px 2px 0px #000000;

}

* {
    margin: 0;
    padding: 0;
}




header > h1 {
    color: white;
    font-family: var(--fonte-padrao);
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px #000000;

    }

    main h1 {
        color: var(--cor-quintaria);
        font-family: 'Android';
        background-image: linear-gradient(to right, var(--cor-quartaria), transparent);
        text-indent: 5px;
    }

    main h2 {
        color: var(--cor-quintaria);
        font-family: 'Android';
        background-image: linear-gradient(to right, var(--cor-quartaria), transparent);
        text-indent: 5px;
    }

    footer {
        background-color: #000000;
        color: white;
        text-align: center;
        font-size: 1em;
        padding: 5px;
    }


    footer > a {
        color: white;
        text-decoration: none;
        font-weight: bold;

    }

    footer a:hover {
        text-decoration: underline;
        color: #3ddc84;
    }

    nav {
        background-image: linear-gradient(to bottom, var(--cor-primaria), var(--cor-sextaria));
        padding: 10px;
        box-shadow: 0px 3px 6px #000000;
    }

    nav  a:hover{
        color: var(--cor-sextaria);
        background-color: var(--cor-primaria);
        border-radius: 10px;
        transition-duration: 0.5s;
        
    }
    
    nav a {
        color: white;
        text-decoration: none;
        padding: 10px;
        font-family: var(--fonte-padrao);
        font-weight: bold;

    }

    .bugdroid {
       max-width: 350px;
       display: block;
       margin: auto;
    }


    a.externo::after {
        content: '\00A0\1F517';
    }

    aside {
        background-color: var(--cor-quartaria);
        padding: 10px;
        border-radius: 20px;
        margin-top: 20px;
        box-shadow: 2px 2px 3px #0000004d;
    }

    aside ul {
        list-style-position: inside;
        columns: 2;
        list-style-type: '\2714\00A0\00A0';
    }

    aside > h3 {
        color: white;
        background-color: #063d22;
        padding: 10px;
        margin: -10px -10px 0px -10px;
        border-radius: 10px 10px 0px 0px;
        
    }

    div.video {
        background-color: var(--cor-sextaria);
        padding: 10px;
        position: relative;
        padding-bottom: 55%;
    }

    div.video > iframe {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
    }